<div class="header row">
  <img class="banner" src="../assets/images/banner.png"/>
  <img class="portrait" src="../assets/images/portrait.png"/>
  <div class="spacer">&nbsp;</div>
</div>

<div class="main row">
  <router-outlet></router-outlet>
</div>
<div class="footer row">
  <div class="col-4">
    <img class="logo" src="../assets/images/logo-w-shield.png"/>
  </div>
  <div class="col-4 copyright">
    © Servants Code ALL RIGHTS RESERVED.
  </div>
  <div class="col-4 right">
    <span>Powered by <a href="https://www.servantscode.org">Servant's Code</a></span>
  </div>
</div>
