<div class="container-fluid">
  <h1>Welcome to {{organizationService.activeOrgName()}}.</h1>
</div>
<form [formGroup]="familyForm" (ngSubmit)="next()">
  <div class="container">
    <h2>Family Details</h2>

    <mat-form-field appearance="standard" class="input-standard">
      <mat-label>Family Name</mat-label>
      <input matInput formControlName="surname" required/>
    </mat-form-field><br/>

    <app-sc-phone-number formControlName="homePhone"></app-sc-phone-number>  

    <app-address formControlName="address"></app-address>
  </div>
  <div class="container">
    <button class="btn btn-primary" type="submit" [disabled]="!familyForm.valid">Next >></button>
  </div>
</form>